/* Header */
.header {
  height: 60px;
  display: flex;
  align-items: centre;
  background-color: #0097db;
  position: sticky;
  top: 0;
  z-index: 100;
}
/* -----x----- */

/* Logo */
.headerLogo {
  width: 120px;
  /* The image keeps its aspect ratio, but is resized to fit within the given dimension */
  object-fit: contain;
  /* margin: 0; */
  /* margin-top: 18px; */
}
/* -----x----- */

/* Search Bar */
.headerSearch {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.headerSearchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.headerSearchIcon {
  padding: 4px;
  height: 20px;
  background-color: #cd9042;
}
/* -----x----- */

/* Navigation Bar */
.headerNavbar {
  display: flex;
  justify-content: space-evenly;
}

.navbarOption {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 12px;
  color: white;
}

.optionLineone {
  font-size: 12px;
}

.optionLinetwo {
  font-size: 13px;
  font-weight: 800;
}

i {
  font-size: 20px;
}

/* Shopping Cart */
.navbarOptionCart {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 12px;
}

.cartCount {
  display: flex;
  align-items: center;
  color: white;
  margin: 0 10px 0;
}

.n nav {
  background-color: black;
  width: 100%;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  margin-bottom: 20px;
}

.c {
  align-items: left;
  display: flex;
  justify-content: space-between;
}
.c p {
  margin: auto;
  color: #fff;
  margin-left: 20px;
  font-family: 'Catamaran', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Edu+NSW+ACT+Foundation&family=Exo+2:wght@300&family=Lora:ital@1&family=Merriweather:wght@300&family=Sawarabi+Mincho&display=swap');

.c h3 {
  margin: auto;
  margin-left: 20px;
  font-family: 'Catamaran', sans-serif;
  padding-right: 20px;
  color: white;
}

.c input {
  height: 2rem;
  border-radius: 10px;
  opacity: 0.5;
  width: 20rem;
  /* margin-top: 12px; */
  margin: auto;
  margin-left: 50px;
}

.login1 h3 {
  text-decoration: none;
  color: #fff;
  font-family: 'Catamaran', sans-serif;
}
.img1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
