*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
  }
  .buy_button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background:rgb(99, 99, 32);
    cursor: pointer;
  }
.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 50px
  }
  .product-card{
    cursor: pointer;
     transform: scale(1, 1);
     transition: transform 0.5s ease;
     color: #324d67;
    
   }
   .product-card:hover{
     transform: scale(1.1,1.1)
   }
   .product_img{
     border-radius: 15px;
    
     transform: scale(1, 1);
     transition: transform 0.5s ease;
     background-color:#324d67; 
   }
   
   .product-name{
     font-weight: 500;
     text-decoration: none;
   }
   .product-price{
     font-weight: 800;
     margin-top: 6px;
     color: black;
   }
   
   @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@300&family=DM+Serif+Display&family=Edu+NSW+ACT+Foundation&family=Exo+2:wght@300&family=Lora:ital@1&family=Merriweather:wght@300&family=Montserrat:wght@200&family=Playfair+Display&family=Rokkitt:wght@100&family=Sawarabi+Mincho&display=swap');
.desc-container{
  display: flex;
  justify-content: center;
  /* border: 10px solid black; */
  width: 80%;
  /* box-shadow: 3px 3px 3px 3px #888888; */
  margin: auto;
  padding-top: 20px;
}
  
.img-container img{
  border-radius: 10px;
  padding-bottom: 10px;
}

.img-container button{
  border-radius: 10px;
  
  background-color: red;

}
.content-container{
  padding-left: 40px;
}

.content-container h1{
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  padding-bottom: 40px;
}

.content-container h3{
  font-family: 'Playfair Display', serif;
  font-weight: 1000;
  padding-top:20px;
}

.content-container h2{
  font-family: 'Playfair Display', serif;
  font-weight: 1000;
  padding-bottom: 20px;
}

.content-container ul li{
  font-family: 'Playfair Display', serif;
  
  padding-bottom: 10px;
}
/* Footer */

.footer-banner-container{
    padding: 100px 40px;
    border: 10px white solid;
    /* background-color:#d8d7d7 ; */
    /* background-color: rgb(99, 99, 32); */
    border-radius: 25px;
    position: relative;
    /* height: 400px; */
    line-height: 1; 
    color: white;
    width: 90%;
    
    margin: auto;
  
    background: radial-gradient(
      ellipse at left bottom,
      rgb(17, 17, 17) 0%,
      rgba(173, 90, 90, 0.9) 59%,
      rgba(255, 42, 30, 0.9) 100%
    );
  }
  .banner-desc{
    display: flex ;
    justify-content: space-between;
  }
  .banner-desc button{
    border-radius: 15px;
    padding: 10px 16px;
    background-color: white;
    color: rgb(99, 99, 32);
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  .banner-desc .left h2{
    font-weight: 900;
    font-size: 80px;
    margin-left: 25px;
  }
  
  .banner-desc .left h3{
    font-weight: 700;
    font-size: 80px;
    margin-left: 25px;
  }
  .banner-desc .left p{
    margin:18px;
  }
  .footer-banner-image{
    position: absolute;
    
    top: -18%;
     left: 25%; 
    /* padding-left: 390px; */
    height: 500px;
    width: 500px;
  
    margin-top: 50px;
    
  }
  .banner-desc .right{
    line-height: 1.4;
  }
  
  .banner-desc .right h2{
    font-weight: 800;
    font-size: 60px;
  }
  
  .banner-desc .right h3{
    font-weight: 500;
    font-size: 60px;
  }
  .banner-desc .right p{
    font-size: 18px;
  }
  .banner-desc .right .company-desc{
    font-size: 14px;
    font-weight: 300;
  }
  
  .footer-container{
    color: #324d67;
    text-align: center;
    margin-top: 20px;
    padding: 30px 10px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
  
  }
  .footer-container .icons{
    font-size: 30px;
    display: flex;
    gap: 10px;
  }



/* Hero Banner */


.hero-banner-container{
  
  margin: auto;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(168, 166, 166) 0%,
    rgba(204, 204, 204, 0.9) 59%,
    rgba(255, 255, 255, 0.9) 100%
  );

  /* background-color: rgb(220, 220, 220); */
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9; 
  width: 95%;
  
}



.hero-banner-container button{
   border-radius: 15px;
  padding: 10px 16px;
  width: 20%;
  background-color:rgb(99, 99, 32) ;
  color: white;
  border: none;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index:10000 !important;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@300&family=Edu+NSW+ACT+Foundation&family=Exo+2:wght@300&family=Lora:ital@1&family=Merriweather:wght@300&family=Sawarabi+Mincho&display=swap');

.hero-banner-container h3{
  font-size: 4rem;
  padding-top: 60px;
  margin-left: 30px;
  color:black;
  font-family: 'Abril Fatface', cursive;
}

.hero-banner-container h2{
    margin-bottom: auto;
}

.hero-banner-container h1{
  color: white;
  font-size: 10em;
  /* margin-left: -20px; */
  text-transform: uppercase;
  margin-top: 10px;
  padding-left: 20px;
  font-family: 'Abril Fatface', cursive;
}
.hero-banner-image{
  position: absolute;
  top: 0%;
  right: 25%;
  width: 750px;
  height: 450px;
  opacity: 0.9;
}

.both{
   display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@300&family=DM+Serif+Display&family=Edu+NSW+ACT+Foundation&family=Exo+2:wght@300&family=Lora:ital@1&family=Merriweather:wght@300&family=Rokkitt:wght@100&family=Sawarabi+Mincho&display=swap');

.desc{
position: absolute;
right: 8%;
bottom: 5%;
width: 300px;
line-height: 1.3;
display: flex;
flex-direction: column;
 color: #324d67;

}
.desc p{
  color: Black;
  font-weight: 200;
text-align: left;
font-family: 'Abril Fatface', cursive;
}
.desc h5{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  text-align: left;

}

  
  @media screen and (max-width:800px) {
    .c input{
      width: 4rem;
    }
    .hero-banner-container{
      height: 500px;
    }
    .hero-banner-image{
      width: 77%;
      height: 62%;
      top: -2%;
      right: -6%;
    }
    .footer-banner-container{
      height: 560px;
      margin-top: 80px;
    }
    .footer-banner-image{
      width: 77%;
      left: 30%;
      top: 6%;
      height: 56%
    }
    
    .banner-desc .left h3{
      font-weight: 900;
      font-size: 40px;
      margin-left: 5px;
      
    }
    .banner-desc .left h2{
      font-size:55px ;
      font-weight: 900;
    }
    .banner-desc .left p{
      margin:18px;
    }
    .banner-desc .right h3{
      font-size: 45px;
    }
    .banner-desc .right p{
      font-size: 18px;
    }
    .banner-desc .right .company-desc{
      font-size: 14px;
    }
    .banner-desc{
      flex-wrap: wrap;
      gap: 20px;
    }
    .hero-banner-container{
      line-height: 1.3;
    }
    .hero-banner-container h1{
      font-size: 50px;
    }
   .hero-banner-container h3{
      font-size: 40px;
    }
    .hero-banner-container button{
      margin-top: 90px;
      z-index: 10000;
    }
    .desc{
     bottom: 60px;
    }
    .product-detail-container{
      flex-wrap: wrap;
      }
    .product-detail-container .product-detail-image{
      width: 350px;
      height: 350px;
    }
    .cart-container{
      width: 415px;
    padding: 4px;
    }
    .cart-heading{
      margin-top: 35px;
    }
    .product-container{
      margin-top: 10px;
    }
    .product{
      padding: 20px 5px;
  
    }
    .product .cart-product-image{
      width: 25%;
      height: 25%;
    }
    .buttons .add-to-cart{
      width: 150px;
    }
    .buttons .buy-now{
      width: 150px;
    }
    .product-detail-container{
      margin: 20px;
    }
  
  .item-desc .flex{
    width: 200px;
  }
  .top{
    flex-wrap: wrap;
    gap: 10px;
  
  
  }
  .item-desc .bottom{
    margin-top: 30px;
  }
  .flex h5{
    font-size: 16px;
     color: #324d67;
  }
  .flex h4{
    font-size: 16px;
     color: black;
  }
  .cart-bottom{
    padding: 30px;
  }
  
  .total h3{
    font-size: 20px;
  }
  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }
  .success-wrapper, .cancel-wrapper{
   
    min-height: 69vh;
  }
  .success, .cancel {
     width: 370px;
    margin-top: 100px;
    padding: 20px;
  }
  .success{
    height: 350px;
  }
  .success h2{
    font-size: 17px;
  }
  .btn-container{
    width: 300px;
    margin: auto;
  }
  }

  footer-container{
    color: #324d67;
    text-align: center;
    margin-top: 20px;
    padding: 30px 10px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
  
  }
  .footer-container .icons{
    font-size: 30px;
    display: flex;
    gap: 10px;
  }

  .products-heading{
    text-align: center;
  }
  
  .products-heading p{
    color: gray;
    font-family: 'Abril Fatface', cursive;
  }
  
  .products-heading h2{
    color: black;
    font-size: 4rem;
    font-family: 'Abril Fatface', cursive;
  }